<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herocorp"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.provider.MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ui.app.App"
        android:allowBackup="true"
        android:icon="@drawable/hero_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <activity
            android:name=".ui.activities.auth.SignInActivity"
            android:windowSoftInputMode="adjustResize">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activities.BaseDrawerActivity"
            android:configChanges="keyboardHidden|orientation">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activities.DSEapp.Fragment.MainHome"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.EMI.EmicalcFragment"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <provider
            android:name=".infra.db.AppContentProvider"
            android:authorities="com.herocorp.provider"
            android:exported="false" />

        <service
            android:name=".infra.services.DataSyncService"
            android:enabled="true"
            android:exported="false" />

        <!--
             <service
             android:name="com.herocorp.ui.activities.DSEapp.dbSyncservice"
             android:enabled="true"
             android:exported="false" />
        -->
        <!--
           <service android:name=".ui.FCMservice.FCMmessageservice">
               <intent-filter>
                   <action android:name="com.google.firebase.MESSAGING_EVENT" />
               </intent-filter>
           </service>
           <service android:name=".ui.FCMservice.FCMInstanceIdservice">
               <intent-filter>
                   <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
               </intent-filter>
           </service>
        -->
        <activity
            android:name=".activity_splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>